.dropdown-menu {
    left: -90px !important;
}

.dropdown-menu { 
    background-color: white;
}

a {
    color: black;
}

.app-title {
    color : #ffffff;
    font-size:24px;
    font-weight: 500;
}